n8n-smart-apollo-v2.json
{
  "name": "v18.0-Smart Apollo Searcher (50→20)",
  "description": "Smart Apollo: Busca 50 → Pre-Score Claude → TOP 20 evaluated",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2a50776f-2608-40b1-a7b8-7dc18de37e01",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b160a2c9-9711-4fba-97db-cae6d8cfc03d",
      "name": "📥 Webhook: Nueva Búsqueda",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-96, -48],
      "webhookId": "2a50776f-2608-40b1-a7b8-7dc18de37e01"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst body = (raw.body && raw.body.puesto) ? raw.body : raw;\nconst puesto = body.puesto;\nconst industria = body.industria;\nconst pais = body.pais || 'Chile';\nconst empresas = body.empresas_referencia || [];\nconst seniority = body.seniority || 'Senior';\nconst cantidad = 50;\nconst habilidades = body.habilidades || [];\nconst enviarEmail = body.enviar_cold_email || false;\nconst plantilla = body.plantilla_email || '';\nconst etapas = body.etapas_entrevista || [];\nconst TEST_MODE = true;\nconst TEST_EMAIL = 'raimundo@umine.com';\nif (!puesto || !industria) {\n  throw new Error('Faltan campos obligatorios: puesto e industria');\n}\nconst searchId = 'search-' + Date.now().toString(36) + '-' + Math.random().toString(36).substr(2, 5);\nconst seniorityMap = {\n  'Junior': 'junior', 'Semi-Senior': 'senior', 'Senior': 'senior',\n  'Lead': 'manager', 'Manager': 'manager', 'Director': 'director',\n  'VP': 'vp', 'C-Level': 'c_suite'\n};\nconst paisMap = {\n  'Chile': 'Chile', 'Argentina': 'Argentina', 'Colombia': 'Colombia',\n  'Mexico': 'Mexico', 'Peru': 'Peru', 'Brasil': 'Brazil',\n  'LATAM': 'South America', 'Global': ''\n};\nreturn {\n  json: {\n    searchId, puesto, industria,\n    pais: paisMap[pais] || pais,\n    empresas, seniority: seniorityMap[seniority] || 'senior',\n    cantidad, habilidades,\n    enviarEmail: TEST_MODE ? false : enviarEmail,\n    plantilla, etapas,\n    testMode: TEST_MODE,\n    testEmail: TEST_EMAIL\n  }\n};"
      },
      "id": "1b0caacc-5283-4df4-b44e-8681e39fda90",
      "name": "✅ Validar y Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"person_titles\": [\"{{ $json.puesto }}\"],\"person_locations\": [\"{{ $json.pais }}\"],\"page\": 1,\"per_page\": 50}",
        "options": {"timeout": 120000}
      },
      "id": "a3764af9-1b28-40c2-acb1-417a86672560",
      "name": "🔍 Apollo - Buscar 50 Candidatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [336, -48]
    }
  ],
  "connections": {
    "📥 Webhook: Nueva Búsqueda": {
      "main": [[{"node": "✅ Validar y Preparar Datos", "type": "main", "index": 0}]]
    },
    "✅ Validar y Preparar Datos": {
      "main": [[{"node": "🔍 Apollo - Buscar 50 Candidatos", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "versionId": "v18.0-smart-apollo"
}
